// BTN OUTLINE

.outline {
	background-color: transparent;
	color: inherit;
	transition: all .25s;
}

.btn-primary.outline {
	color: #428bca;
}

.btn-success.outline {
	color: #5cb85c;
}

.btn-info.outline {
	color: #5bc0de;
}

.btn-warning.outline {
	color: #f0ad4e;
}

.btn-danger.outline {
	color: #d9534f;
}

.btn-primary.outline:hover,
.btn-success.outline:hover,
.btn-info.outline:hover,
.btn-warning.outline:hover,
.btn-danger.outline:hover {
	color: #fff;
}

// BTN OUTLINE
body {
	font-size: 18px;
}

.header-full {
	position: relative;
	margin-bottom: 80px;

	.logos-header {
		max-width: 120px;
		opacity: 0.8;

	}

	img {
		height: auto;
		width: 100%;
	}

	.img-bg-header {
		display: block;
		position: absolute;
		width: 100%;
		background-size: 100% auto;
		background-repeat: no-repeat;
		height: 100%;
		z-index: -3;
		padding-bottom: 100%;
	}

	.img-bg {
		background-attachment: scroll;
		position: absolute;
		filter: blur(3px);
		background-size: cover;
		background-position: center;
		width: 120%;
		opacity: 0.8;
		height: 120%;
	}
}

[class*="title-"] {
	font-family: 'Poiret One', cursive;
	margin-bottom: 30px;
}

.flip-h {
	transform: scaleY(-1);
}

.title-page-area {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-bottom: 100px;
	;

	.title-page {
		width: auto;
		margin: 0;
	}

	.img {
		max-width: 250px;
	}

	.img+.title-page {
		margin-top: 10px;
	}

}

.title-page {
	font-size: 50px;
	padding-bottom: 15px;
	margin-bottom: 30px;
	text-align: center;
	width: 100%;
	position: relative;
}

.title-header {
	font-size: 100px;
	text-align: center;
	vertical-align: middle;
}

.header-desktop {
	margin-top: 60px;
	margin-bottom: 60px;
	display: flex;
	justify-content: center;
	align-items: stretch;
}

.area-imgs {
	display: flex;
	justify-content: center;
	align-items: center;
}

.parallax-window {
	min-height: 400px;
	background: transparent;
}


.area-card-casamento {
	height: 1px;
	margin-bottom: 30px;
	padding-bottom: 120%;
	position: relative;
}

.card-casamento {
	margin: 0 auto;
	position: relative;
	transition: all .5s;
	box-shadow: 0 0 10px 1px rgba(0, 0, 0, .1);
	overflow: hidden;
	position: relative;
	margin-bottom: 30px;
	text-transform: none;
	color: inherit;
	display: block;
	transition: 0.2s;
	width: 95%;

	&:hover {
		width: 100%;
		color: inherit;
		text-decoration: none;
		box-shadow: 0 0 10px 1px rgba(67, 139, 193, 0.2);

	}


	.img_casal {
		height: 1px;
		position: relative;
		padding-bottom: 75%;
		width: 100%;
		text-align: center;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	}

	.img {
		text-align: center;
		width: 100%;
		height: auto;
	}


	.nomes-casais {
		font-weight: normal;
		font-size: 20px;
		width: 100%;
		text-align: center;
		margin-top: 30px;
		margin-bottom: 30px;
	}

	.label-date {
		color: #555;
		text-align: center;
		margin-bottom: 30px;
	}


}


.transition-area {
	margin-top: 60px;
	margin-bottom: 60px;
	height: 350px;
	width: 100%;
	overflow: hidden;

	div {
		width: 100%;
		height: 110vh;
		position: relative;
		background-size: cover;
		background-attachment: fixed;
		background-position: center center;
		background-repeat: no-repeat;
	}
}

.area-btn-ver-mais {
	margin-top: 60px;
	text-align: center;
	margin-bottom: 100px;
	display: flex;
	justify-content: center;
    align-items: center;
    .btn-area{
            min-width: 150px;
            min-height: 40px;;
    }
    .link {
		&:hover,
		&:visited,
		&:focus,
		&:active {
            font-size: 1.55em;
        }
	}
	.img {
		max-width: 350px;
	}

}


.nottoshow {
	height: 0px;
	overflow: hidden;
	display: none;
}

.album {
	transition: 0.3s;
}


.link {
	text-decoration: none;
	text-transform: capitalize;
	font-family: 'Poiret One', cursive;

	&.-huge {
		font-size: 1.5em;
	}

	&:hover,
	&:visited,
	&:focus,
	&:active {
		text-decoration: none;
	}
}

.btn-vermais {

	
}
